.pagination_container {
  display: flex;
  justify-content: center;
  list-style-type: none; 
}
  
.pagination_item {
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: 16px;
  display: flex;
  height: 16px;
  justify-content: center;
  margin: 5px;
  min-width: 16px;
  padding: 5px;
}
  
.dots {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 28px;
}
  
.arrow {
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
  content: '';
  display: inline-block;
  height: 0.4em;
  position: relative;
  width: 0.4em; 
}
.pagination_item:hover .arrow{
  border-right: 0.12em solid var(--white);
  border-top: 0.12em solid var(--white);
}
  
.left {
  transform: rotate(-135deg) translate(-10%);
}
  
.right {
  transform: rotate(45deg);  
}

.pagination_item:hover{
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  fill: var(--white);    
}

.isActive {
  background-color: var(--secondary);
  border: 0;
  color: var(--white);
  fill: var(--white);  
}
