.button{     
    background: var(--secondary);
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    font: inherit; 
    margin-left: 20px;
    max-height: 38px;     
    outline: inherit;            
    padding: 10px 15px;       
 }